.main{
	display:flex;
	width:100%;
	border:3px solid black;
}
.heading{
	background-image:url("./images/header.jpg");
	background-size:cover;
}
.container1{
	width:75%;
}
.title{
	font-size:30px;
	font-family:cursive;
	text-align:center;
	padding:150px;
	color:gold;
}
.index{
	color:orange;
	border:3px solid lightblue;
	position:sticky;
}
.info:hover{
	background-color:pink;
	color:yellow;
}
.info{
	padding-right:20px;
	padding-left:10px;
}
.header{
	color:lightgreen;
	font-size:30px;
	padding:30px 50px 1px 80px;
	font-style:cursive;
}
.content1,.content2{
	color:grey;
	padding:1px 50px 20px 80px;
	text-align:justify;
	font-weight:bold;
}
.sub-content1,.sub-content2{
	color:grey;
    padding:5px 50px 50px 80px;
	text-align:justify;
}
.line{
	border-bottom:4px solid grey;
}
.content2{
	padding-top:30px;
	padding-bottom:5px;
	font-size:30px;
}
.sub-content2{
	padding-top:2px;
	padding-bottom:10px;
}
.icons{
	display:flex;
	padding-bottom:20px;
}
.logo1,.logo2{
	text-align:left;
	padding:5px 80px 70px 90px;
}
.paragraph{
	display:flex;
	flex-direction:row;
}
.image{
	padding:20px 1px 20px 90px;
	width:40%;
}
.image-description{
	padding:20px 10px 20px 1px;
	width:60%;
}
.image-header{
	padding:2px 5px 3px 2px;
	font-size:20px;
	font-weight:bold;
	color:grey;
}
.bottom-line{
	border-bottom:3px solid grey;
	margin:30px;
}
.image-content{
	text-align:justify;
	color:grey;
}
.register-form{
	padding:10px 20px 20px 80px;
}
.register-id,.register-content{
	width:45%;
	padding:10px;
	font-family:cursive;
}
.register-content{
	width:96%;
}
.space{
	padding-left:10px;
}
.button1,.button2{
	padding:10px;
	background-color:skyblue;
	font-family:cursive;
}
.button2{
	background-color:white;
}
.contact-form{
	padding-bottom:40px;
}
.footer{
	text-align:center;
	padding:50px;
	background-color:grey;
	color:white;
}
.container2{
	width:25%;
	text-align:center;
	background-color:lightblue;
	position:sticky;
	right:0px;
}
.logo{
	border-radius:50%;
	padding-top:10px;
}
.name{
	font-size:30px;
	color:gold;
	padding:5px;
	font-family:arial;
}
.role{
	color:white;
	text-align:center;
}
.menu{
	padding-top:10px;
	padding-bottom:10px;
	color:white;
}
.contact-us{
	padding:30px 10px 50px;
}
.menu:hover{
	background-color:pink;
	color:yellow;
}