body
{
	border:3px groove grey;
}
.header{
	background-image: url("./images/image4.jpg");
	background-size: cover;
}
.header-content1,.header-content2{
	text-align: left;
	padding: 10px;
	color: teal;
	font-size: 20px;
}
.header-content2{
	float: right;
}
.header-content3{
	text-align: center;
	color: crimson;
	padding: 150px 50px 10px;
	font-size: 20px;
}
.title{
	padding:20px;
	border-bottom:3px solid grey;
}
.header-content4{
	text-align: center;
	font-size: 50px;
	font-family: arial;
	color: deeppink;
	padding: 30px 50px 200px;
}
.menu1{
	width: 100%;
	display: flex;
}
.menu1-container1,.menu1-container2{
	width: 50%;
	background-color:white;
	border:3px solid pink;
	margin:2px;
}
.menu1-container1{
	padding:30px 10px 20px 30px;
}
.menu1-container2{
    padding:30px 30px 20px 10px;
}
.menu1-header1{
	text-align: center;
	font-size: 20px;
	font-family: calibra;
	color: gray;
	padding: 5px 5px;
	border-bottom:2px solid blue;
	margin-left:200px;
}
.menu1-header{
	text-align: center;
	font-size: 30px;
	color: green;
	padding-top:20px;
}
.menu1-content1{
	padding:20px;
}
.menu1-explanation{
	text-align:center;
	position:relative;
	padding:10px;
	color:skyblue;
}
.menu2{
	background-color:grey;
	border:3px solid grey;
	padding:10px
}
.menu2-content,.menu3-container1{
	font-size:20px;
	font-family:arial;
	padding:40px 50px 20px;
	color:indigo;
	text-align:center;
	border-bottom:2px solid lightblue;
	margin-left:380px;
}
.menu2-header,.menu3-header{
	font-size:30px;
	color:green;
	padding:40px 50px 20px;
	text-align:center;
}
.menu3{
	background-color:white;
	padding:10px;
}
.menu3-container2,.menu3-container3{
	width:100%;
	display:flex;
}
.menu3-image1,.menu3-image2,.menu3-image3,.menu3-image4{
	width:50%;
    padding:10px;
	border:3px solid pink;
	margin:5px;
}
.footer{
    text-align:center;
	background-color:lightgray;
}	
.logo{
	padding:30px;
}
.footer-content{
	color:green;
	padding:10px;
}