*{
    box-sizing: border-box;
}
body{
    background-image:url('./images/image1.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}
.calculator{
    border:3px groove magenta;
    border-width: 5px;
    margin:200px;
    padding:5px;
    background-color:lightgray;
}
#calc{
    border:5px groove skyblue;
    padding:5px;
    border-radius:10px;
    text-align:center;
}
#output{
    text-align:right;
    width:100%;
    font-size: 30px;
    border:none;
    background-color:lavender;
    padding:30px;
}
.buttons{
    display:grid;
    grid-template-columns:25% 25% 25% 25%;
}
.value,.operator{
    border-radius:15px;
    margin:20px;
    padding:20px;
    color:darkgoldenrod;
    text-align:center;
    background-color: skyblue;
}
.operator{
    background-color:aquamarine;
    color:lightcoral;
}
#equal{
    background-color: aqua;
}
.operator:hover{
    background-color: fuchsia;
    color:green;
}
.value:hover{
    background-color: orange;
    color:greenyellow;
}
@media(max-width:576px){
    .calculator{
        margin:20px;
    }
    .value,.operator{
        padding:1px;
        margin:5px;
    }
    #calc{
        font-size:25px;
        padding:1px;
    }
}